$ingredient-toolbar-background-color: #f5f5f5;
$ingredient-action-size:              83px;
$ingredient-border-color:             #dedede;
$ingredient-border:                   1px solid $ingredient-border-color;
$ingredient-spacing:                  6px;
$group-action-size:                   139px;
$group-ingredient-indent-size:        23px;
