.recipe {
    margin: 2em;

    .title {
        margin-bottom: .2em;
    }

    .yield {
        font-size: 80%;
        margin-top: 0;
    }

    .meta {
        border-bottom: .1em solid;
    }

    ol {
        padding-left: $default-spacing;
    }

    ul {
        padding-left: $bullet-spacing;
    }

    .ingredients-group {
        list-style-type: none;
        margin-left: -($bullet-spacing);
        margin-top: $default-spacing;

        ul {
            margin-top: $default-spacing;
            padding-left: $bullet-spacing;
        }

        li {
            list-style-type: disc;
        }
    }
}
