.recipe {
    margin: 2em;

    ol {
        padding-left: $default-spacing;
    }

    ul {
        padding-left: $bullet-spacing;
    }
}

.recipe-title {
    margin-bottom: .2em;
}

.recipe-yield {
    font-size: 80%;
    margin-top: 0;
}

.recipe-meta {
    border-bottom: .1em solid;
}

.ingredients-group {
    list-style-type: none;
    margin-left: -($bullet-spacing);
    margin-top: $default-spacing;

    ul {
        margin-top: $default-spacing;
        padding-left: $bullet-spacing;
    }

    li {
        list-style-type: disc;
    }
}
