$border: 1px solid #dedede;
$padding: 5px;

%clearfix {
    &:before,
    &:after {
        content: ' ';
        display: table;
    }

    &:after {
        clear: both;
    }
}

.wp-recipe-ingredients,
.wp-recipe-yield {
    .list,
    .list-item {
        margin: 0;
    }

    .item-label {
        display: none;
    }
}

.wp-recipe-yield {
    .item-control {
        width: 100%;
    }
}

.wp-recipe-ingredients {
    .actions {
        @extend %clearfix;

        background-color: #f5f5f5;
        border: $border;
        padding: $padding;
    }
    
    .add-group {
        float: right;
    }

    .editor {
        padding-top: $padding;
    }

    .ingredients {
        width: 100%;
    }

    .ingredient-group {
        border: 2px solid #f00;
        width: 100%;
    }

    .ingredient {
        @extend %clearfix;

        width: 100%;
    }

    .item-control {
        float: left;
        width: calc(100% - 80px);
    }

    .item-action {
        float: right;
    }
}
